<div class="container">
  <div class="content">
    <div class="gallery">
      <biit-gallery-card title="CADT"
                         subtitle="Card Game"
                         icon="landing_cadt"
                         (click)="goToPage(Environment.CADT_URL)"
      ></biit-gallery-card>
      <biit-gallery-card title="User Manager"
                         subtitle=""
                         icon="landing_user_manager"
                         (click)="goToPage(Environment.USER_MANAGER_URL)"
      ></biit-gallery-card>
      <biit-gallery-card title="Surveys"
                         subtitle=""
                         icon="landing_surveys"
                         (click)="goToPage(Environment.SURVEYS_URL)"
      ></biit-gallery-card>
      <biit-gallery-card title="xForms"
                         subtitle=""
                         icon="landing_xforms"
                         (click)="goToPage(Environment.XFORMS_URL)"
      ></biit-gallery-card>
      <biit-gallery-card title="Facts Dashboard"
                         subtitle=""
                         icon="landing_facts_dashboard"
                         (click)="goToPage(Environment.FACTS_DASHBOARD_URL)"
      ></biit-gallery-card>
      <biit-gallery-card title="Appointment Center"
                         subtitle=""
                         icon="landing_appointment_center"
                         (click)="goToPage(Environment.APPOINTMENT_CENTER_URL)"
      ></biit-gallery-card>
    </div>
  </div>
</div>
