<div class="container">
  <div class="content">
    <div class="gallery">
      <biit-gallery-card [title]="'CADT'"
                         subtitle="Card Game"
                         tooltip="Card Game"
                         icon="landing_cadt"
                         (click)="goToPage(Environment.CADT_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card [title]="'NCA'"
                         subtitle="NCA Test"
                         tooltip="NCA Test"
                         icon="landing_cadt"
                         (click)="goToPage(Environment.SURVEYS_NCA_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card [title]="'Credibility'"
                         subtitle="Credibility Test"
                         tooltip="Credibility Test"
                         icon="landing_surveys"
                         (click)="goToPage(Environment.SURVEYS_CREDIBILITY_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card [title]="'xForms'"
                         subtitle="XForms Runner"
                         tooltip="NCA Test"
                         icon="landing_xforms"
                         (click)="goToPage(Environment.XFORMS_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card [title]="'User Manager'"
                         subtitle="User administration tool"
                         tooltip="User administration tool"
                         icon="landing_user_manager"
                         (click)="goToPage(Environment.USER_MANAGER_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card [title]="'Dashboard'"
                         subtitle="Demo application that displays form results"
                         tooltip="Demo application that displays form results"
                         icon="landing_facts_dashboard"
                         (click)="goToPage(Environment.FACTS_DASHBOARD_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card [title]="'Appointment Center'"
                         subtitle="Manage your appointments in a calendar view."
                         tooltip="Manage your appointments in a calendar view"
                         icon="landing_appointment_center"
                         (click)="goToPage(Environment.APPOINTMENT_CENTER_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card [title]="'Boarding pass'"
                         subtitle="Attendance control"
                         tooltip="Attendance control"
                         icon="landing_boarding_pass"
                         (click)="goToPage(Environment.BOARDING_PASS_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card [title]="'Profile Matcher'"
                         subtitle="Compare CADT result with a profile."
                         tooltip="Compare CADT result with a profile"
                         icon="landing-profile-matcher"
                         (click)="goToPage(Environment.PROFILE_MATCHER_SERVER)"
      ></biit-gallery-card>
    </div>
  </div>
</div>
