<div class="container">
  <div class="content">
    <div class="gallery">
      <biit-gallery-card title="CADT"
                         subtitle="Card Game"
                         icon="landing_cadt"
                         (click)="goToPage(Environment.CADT_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card title="User Manager"
                         subtitle=""
                         icon="landing_user_manager"
                         (click)="goToPage(Environment.USER_MANAGER_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card title="Credibility"
                         subtitle=""
                         icon="landing_surveys"
                         (click)="goToPage(Environment.SURVEYS_CREDIBILITY_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card title="NCA"
                         subtitle=""
                         icon="landing_surveys"
                         (click)="goToPage(Environment.SURVEYS_NCA_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card title="xForms"
                         subtitle=""
                         icon="landing_xforms"
                         (click)="goToPage(Environment.XFORMS_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card title="Facts Dashboard"
                         subtitle=""
                         icon="landing_facts_dashboard"
                         (click)="goToPage(Environment.FACTS_DASHBOARD_SERVER)"
      ></biit-gallery-card>
      <biit-gallery-card title="Appointment Center"
                         subtitle=""
                         icon="landing_appointment_center"
                         (click)="goToPage(Environment.APPOINTMENT_CENTER_SERVER)"
      ></biit-gallery-card>
    </div>
  </div>
</div>
