.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  flex-shrink: 0;
  flex-grow: 0;
}

.content{
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

biit-navbar {
  position: sticky;
  width: 100%;
  z-index: 1;
}

.hidden {
  visibility: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  padding: 0 20em;
}
