html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Montserrat, "Montserrat", sans-serif;
  font-size: 16px;
  color: #262626;
  background-color: #EDEDED;
}

* {
  box-sizing: border-box;
}

input {
  font-family: Montserrat, "Montserrat", sans-serif;
}

app-root router-outlet + * {
  display: block;
  width:100%;
  min-height: 100%;
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: #262626 #EDEDED;
  }
  *:hover {
    scrollbar-color: #F20D5E #EDEDED;
  }

  *:active {
    scrollbar-color: #F20D5E #EDEDED;
  }
}

::-webkit-scrollbar {
  width: 0.7rem;
}
::-webkit-scrollbar-thumb {
  border: 0.2rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: #262626;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #F20D5E;
}

.biit-general-text {
  font-size: 1rem;
  color: #262626;
  text-align: left;
}

.biit-extra-comment {
  font-family: "Cormorant Garamond", serif;
  font-size: 0.7rem;
  color: #262626;
  text-align: left;
}
